<header <!--style="background-image: url(<%= Image.find(1).path %>);"-->>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <h2><%= Content.find(6).contenu %></h2>
            <!--<%= image_tag Image.find(1).path %>-->
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

